.form-control:disabled {
    background-color: inherit;
}

.bmd-label-floating {
    color: rgba(0, 0, 0, 0.54);
}
.form-control:disabled + .bmd-label-floating {
    color: rgba(0, 0, 0, 0.28);
}
.form-control.empty-option option[value=""] {
    display: none;
}

select.custom-file-control:not([size]):not([multiple]), select.form-control:not([size]):not([multiple]) {
    height: calc(2rem + 1px);
}

.bmd-form-group {
    padding-top: 1rem;
}

.form-group {
    margin-bottom: 0.5rem;
}

.bmd-form-group .bmd-label-static,
.bmd-form-group.is-filled .bmd-label-floating,
.bmd-form-group .is-filled .bmd-label-floating,
.bmd-form-group.is-focused .bmd-label-floating,
.bmd-form-group .is-focused .bmd-label-floating {
    top: 0.1rem;
}

.bmd-form-group .bmd-label-floating,
.bmd-form-group .bmd-label-placeholder {
    top: 1.4875rem;
}

.form-group.has-error .bmd-label-floating {
    color: #f44336;
}
.form-group.has-error .bmd-help {
    display: block;
    color: #f44336 !important;
    position: relative;
}
.form-group.has-error .checkbox label {
    color: #f44336;
}
